@page "/chatroom"

<PageTitle>Chat Room</PageTitle>

@using WeTalk.Data


<AuthorizeView>
    <Authorized>
        <div class="col-12">

            <div class="input-group mb-3">                
                <input @bind = "roomInput" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                <button @onclick = "AddRoom" class="input-group-text" id="inputGroup-sizing-default">Add a Chat Room</button>
            </div>
            <div class="list-group">
            @*<a href="/chat/dotNet" class="list-group-item list-group-item-action align-items-center">
                dot net
            </a>*@
            @foreach (var room in chatRooms)
                {
                <a href="/chat/@room.Room" class = "list-group-item list-group-item-action flex-column align-items-start">
                @room.Room
                </a>
                }
            </div>
            
        </div>
    </Authorized>
</AuthorizeView>
@code {

    private List<ChatRoomModel> chatRooms { get; set; } = new List<ChatRoomModel>();
   

    private string? roomInput;
    private void AddRoom()
    {
        
        chatRooms.Add(new ChatRoomModel(roomInput));
    }
    
    //protected override async Task OnInitializedAsync()
    //{
        
    //}

}
