@page "/contacts"

<PageTitle>Contacts</PageTitle>

@using WeTalk.Data
@inject WeatherForecastService ForecastService


<div class="col-12">
    @foreach (var contact in ContactList)
    {
        <a href="/chat/@contact.FirstName" class = "list-group-item list-group-item-action flex-column align-items-start">
            @contact.FirstName <span></span> @contact.LastName
            </a>
        
    }
</div>

@code {
    private WeatherForecast[]? forecasts;
    private List<Contact> ContactList { get; set; } = new List<Contact>();
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
        //forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");

        ContactList.Add(new Contact(1, "Ben", "Dover"));
        ContactList.Add(new Contact(2, "Nick", "Dover"));
        ContactList.Add(new Contact(3, "Jen", "Dover"));
        ContactList.Add(new Contact(4, "Sam", "Dover"));
    }
    
}
