@page "/"

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <Authorized>
        <div class="align-content-md-center">
            <h1>Welcome @context.User.Identity?.Name</h1>

            <h3>Welcome to WeTalk join a chat room to begin.</h3>
        </div>

    </Authorized>
    <NotAuthorized>
        <div class="align-content-md-center">
            <h1>Welcome to WeTalk </h1>

            <h3>Register to get started.</h3>
        </div>
    </NotAuthorized>
</AuthorizeView>
